#big{
    height: 700px;
    text-align: center;
    background-color:rgba(200, 100, 187, 0.2);
    position: relative;
    bottom:340px;
    z-index: 1;

}

#main-navigation ul{
    text-align: right;
    list-style-type: none;
    margin-right: 50px;
    position: absolute;
    top: -17px;
    right: -50px;
    background-color: white;
    height: 100px;
    width: 1500px;
    padding-top: 10px;
}
body{
    height: 1300px;
}
a{
    position: absolute;
    top: -5px;
}
#main-navigation li{
    display: inline-block;
}
#img1{
    position: absolute;
    right: 1250px;
    top: 10px;
}
#about{
    position: relative;
    z-index: 1;
    bottom: 343px;
    padding-top: 20px;
    background-color: white
}

#main-navigation a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 25px;
    position: relative;
    bottom: 40px;
    right: 400px;
    color: palevioletred;
}
#main-navigation a:hover{
    color: black;
}
#img2{
    position: relative;
    bottom: -5px;
    right: 10px;
}
.dac{
    position: relative;
    bottom: 5px;
    right: 250px;
    font-size: 20px;
}
#img3{
    position: relative;
    bottom: -5px;
    right: 5px;
}
.rac{
    position: relative;
    bottom: 5px;
    right: 80px;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid black;
}
.rac:hover{
    background-color: palevioletred;
    color: white;
}

button{
    color: black;
    font-size: 20px;
    background-color: rgba(226, 98, 141, 0.1);
    padding:15px;
    border: 3px solid black;
    border-radius: 5px;
}

.btn{
    position: absolute;
    bottom: 300px;
    left: 550px;
}

.dip{
    position: absolute;
    bottom: 350px;
    right: 750px;
    font-size: 40px;
}

.gip{
    position: absolute;
    bottom: 347px;
    right: 500px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: palevioletred;
}

#sticky{
    position: sticky;
    top: 200px;
}


.bth{
    position: absolute;
    top: 410px;
    background-color: white;
    padding: 10px;
    left: 65px;
}

#bth:hover{
background-color: black;
color: palevioletred;
}

#img4{
    position: absolute;
    right: 90px;
    top: 67px;
}

#img5{
  position: relative;
  left: 755px;
  bottom: 330px; 

}
#image-container::before{
    content: "";
    position: absolute;
    top: 73px;
    left: 730px;
    width: 390px;
    height: 310px;
    outline: 0.5rem solid yellow;
    z-index: -1;
    transition: all 1s ease-out;
}
#image-container:hover:before{
    transform:scale(1.1) ;
    left: 773px;
    top: 99px;
}

#about{
    height: 600px;
}

#main-sub{
    background-color: thistle;
    height: 300px;
    position: relative;
    bottom: 390px;
    z-index: 1;
}
#store-items{
  position: relative;  
  z-index: 1;
  bottom: 400px;
  background-color: thistle;
}
#set{
    position: relative;
    top: 16px;
}

#form{
    width: 500px;
    height: 35px;
}


#yet{
    position: absolute;
    left: 540px;
    font-size: 30px;
    top: 29px;
}

.were{
    position: relative;
    right: -600px;
    font-size: 70px;
    bottom: -26px;
    color: palevioletred;
}

button{
position: relative;
left:250px;
margin-left: 40px;
}

button:hover{
    background-color: black;
    color: palevioletred;
}

#set{
    position: relative;
    left: 370px;
}

#form{
    position: relative;
    left: 370px;
}

.jan{
    position: relative;
    left: 100px;
    font-size: 20px;
}

.hit{
    position: relative;
    left: 100px;
    top: 160px;
    font-size: 40px;
}

.red{
    position: relative;
    left: 215px;
    top: 29px;
    font-size: 70px;
    color: palevioletred;
}

.img-container{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.store-img{
    transition: all  1s ease-in-out;
}
.img-container:hover .store-img{
    transform: scale(1.1);
}
.row{
    display: grid;
    grid-template-columns: 438px 438px 438px;
    grid-gap:10px;  
}
.column{
    display: flex;
    flex-basis: 33.33%;
    flex-wrap: wrap;
    float: left;
    padding: 20px;
    background-color: thistle;
}
.store-img-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 10px;
    padding: 8px;
    background-color: burlywood;
    transition: all 1s ease-in-out;
    transform: translate(100%, 100%);
}
.store-img-icon:hover{
    background-color: gray;
}
.img-container:hover .store-img-icon{
    transform: translate(0,0);
}
.value{
    position: relative;
    left: 350px;
    bottom: 20px;
}
.card-text{
    position: relative;
    background-color: white;
    bottom: 25px;
    width: 400px;
}
.item{
    position: relative;
    bottom: -20px;
    left: 10px;
}


